@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e4e4e7;
  --background: #09090b;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    @apply antialiased;
  }
}
